html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@media only screen and (orientation: landscape) and (max-width: 1366px) and (pointer: coarse) {
  body {
    overflow: hidden;
    height: 100vh;
  }
  body::before {
    content: "Please rotate your device";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: #00ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.64rem;
    text-align: center;
    z-index: 999999;
    background: #000064;
    font-family: "MyFont", sans-serif;
  }
}

@font-face {
  font-family: "MyFont";
  src: url("fonts/RapidVariableSt.ttf") format("truetype");
}

.example-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.carousel-wrapper {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  width: calc(100% - 40px); /* 20px space on each side */
  max-width: 75vw; /* optional */
}

.carousel-container {
  overflow: hidden;
  width: 80%;
}

.ikony {
  display: flex;
  gap: 10px;
  transition: transform 0.5s ease-in-out;
  align-items: center;
  justify-content: center;
}

.obrazky {
  flex: 0 0 auto;
  height: 8vh;
  width: auto;
  cursor: pointer;
  object-fit: cover;
  transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
  background-color: aquamarine;
  opacity: 0.6;
}

.obrazky.active {
  height: 10vh;
  opacity: 1;
  transform: scale(1.1);
}

.obrazky:hover {
  transform: scale(1.1);
  opacity: 1;
}

.drak {
  opacity: 0.5;
}

.edit {
  position: fixed;
  bottom: 10px;
  left: 95.5vw;

  display: flex;
  align-items: flex-end;
  z-index: 1000;
  width: 90vw;
}

.edit-button {
  flex: 0 0 auto;
  height: 8vh;
  width: auto;
  cursor: pointer;
  object-fit: cover;
  transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
  background-color: aquamarine;
  opacity: 0.6;
}

.edit-button.active {
  height: 10vh;
  opacity: 1;
  transform: scale(1.1);
}

.edit-button:hover {
  transform: scale(1.1);
  opacity: 1;
}
